@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {

  --color-primary: #1e3a8a;
  --color-secondary: #6d7698;
  --color-tertiary: #10b981;
  --color-neutral: #f3f4f6;

  --color-surface: #ffffff;
  --color-on-surface: #0f172a;
  --color-on-primary: #ffffff;
}
